<div class="row mt-1">
  <div class="col-12">
    <h1>Info crypto</h1>  
  </div>
</div>
<div class="row">
  <div class="col-12">
    <input (keyup)="searchCoin()" [(ngModel)]="searchText" type="text" class="form-control bg-dark text-light border-0 my-4 text-center" name="" id="">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="table-responsive table-dark table-hover ">
      <table class="table table-dark table-hover ">
        <thead>
          <tr>
            <th *ngFor="let title of titles">{{title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coin of filteredCoins; let i = index">
            <td class=" text-muted">
              {{i+1}}
            </td>
            <td>
              <img [src]="coin.image" alt="{{coin.name}}" style="width:2rem;">
              <span> {{coin.name}}</span>
              <span class="text-muted ms-2"> {{coin.symbol | uppercase}}</span>
            </td>
            <td>
              {{coin.current_price | currency:"u$s" }}
            </td>
            <td [ngClass]="coin.price_change_percentage_24h>0? 'text-success' : 'text-danger'">
              <i [ngClass]="coin.price_change_percentage_24h>0?'fas fa-caret-up me-1':'fas fa-caret-down me-1'"></i>{{coin.price_change_percentage_24h | currency:"u$s"}}
            </td>
            <td>
              {{coin.total_volume.toLocaleString()}}
            </td>
            <td>
              <a href="https://es.tradingview.com/symbols/{{coin.symbol | uppercase}}USD" class="btn btn-sm btn-light rounded-lg"><i class="fas fa-chart-line" style="font-size: 18px;"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>